*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{

--primary-bg-color:#0f0f0f;
--primary-text-color:#f0f0f0f0;
--nav-padding:15px 30px;
--section-padding:15px 30px;
--padding-s:5px;
--padding-m:10px;
--padding-l:15px;
--padding-xl:20px;
--padding-xxl:25px;


--border-radius-s:5px;
--border-radius-m:10px;
--border-radius-l:15px;
--border-radius-xl:20px;
--border-radius-xxl:25px;

}

body{
    height: 100%;
    width: 100%;
        background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
      overflow:hidden;
    
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}


nav{
    padding: var(--nav-padding);
    top: 0;
    
}

section{
    padding: var(--padding-xxl);
    flex-grow: 1;
    gap:var(--padding-xxl) ;
   
    
}
.Nav{
    display: flex;
   font-size: larger;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;

}
.btn{
background-color:red;
color: white;
padding: 8px;
border-radius: 5px;
cursor: pointer;
    transition:all 0.3s ease;
}
.btn:hover{
    background-color: black;
}


.modal{
    height: 100vh;
  background-color:var(--primary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

}

.task-container {
  background-color: #1c1f26;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.task-container input,
.task-container textarea {
  background-color: #2a2f3a;
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  outline: none;
}

.task-container input::placeholder,
.task-container textarea::placeholder {
  color: #8b909a;
}

.task-container textarea {
  resize: none;
  height: 80px;
}

.task-container button {
  background-color: #2d313d;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;

}

.task-container button:hover {
background-color: rgb(77, 72, 72);
}

.board{
    padding: var(--padding-l);

}


section{
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
   
    
}

section .task-section{
background: linear-gradient(
    to bottom,
    #3A3A3A,
    #2C2C2C
);
width: 100%;
padding: 5px;
transition: all 0.7s cubic-bezier(0.19,1,0.22,1);

border-radius: var(--border-radius-s);
}


section  .task-section .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section  .task-section .task{
    background-color:#2C2C2C
;
    display: flex;
    justify-content: space-between;
    padding:10px ;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: var(--padding-s);
    cursor: grab;
}
section  .task-section.hover-over{
    border: 2px dashed var(--primary-text-color);
    scale:1.05;
} 
section  .task-section .task .btn{
    background-color: red;
    height: 30px;
    cursor: pointer;
    border:none;
    outline:none;

}
